# Folders

/.git/

# Projects

/*/.kdev4/
/*/.vs/
/.kdev4/
/.vs/

# Binaries

/*/lib/
/*/bin/

# Files

*.gch
*.log
*.exe
*.leu

# Build Generators

/*/Makefile
*.mk
*.make
premake5
premake5.exe
Makefile

# Projects

*.kdev4
*.sln
*.vcxproj*
